
.food-list {
  margin: 0;
  padding: 0;
}

.food-list-item {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid var(--border-color);
  padding: 8px;
  margin: 0px;
}

.food-list-item:hover {
  background-color: var(--bg-color)
}

.add-food {
  margin-bottom: 36px;
}

.new-food {
  margin-bottom: 36px;
}