.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 56px;
  height:100%;
}

.container:before, .container:after {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@media (min-width: 544px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 570px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 740px;
    margin-bottom: 0px;
  }

  .submit-food-button, .new-food-button {
    position: static;
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .dashboard {
    background-color: var(--neutral-color);
  }
  
  .entry-list {
    margin: 0;
    padding: 0;
  }
  
  .entry-list-item {
    display: flex;
    justify-content: space-between;
    list-style: none;
    border-bottom: 1px solid var(--border-color);
    padding: 8px;
    margin: 0px;
  }
  
  .entry-list-item:hover {
    background-color: var(--bg-color)
  }

  

}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
  
  .screen-header {
    text-align: left;
    padding-left: 72px;
  }
  
  nav {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 8px;
    border: none;
    background-color: transparent;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  nav a {
    flex-basis: 13%;
  }

  nav img {
    vertical-align: bottom;
    display: inline-block;
  }
  
  nav span {
    display: inline-block;
    height: 24px;
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .screen-header {
    padding-left: 176px;
  }
}