.btn-blue, .btn-black, .btn-red {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  padding: 0 26px;
  margin: 6px 0;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  text-align: center;
  line-height: 36px;
  vertical-align: middle;
  user-select: none;
  font-family: inherit;
  letter-spacing: 0.03em;
  position: relative;
  overflow: hidden;
  color: #FFF;
}

.btn-blue {
  background-color: #2196F3;
}

.btn-black {
  background-color: #424242;
}

.btn-red {
  background-color: #F44336;
}

.settings-button {
  margin: 8px auto;
  width: 100%;
}

.logout-button {
  margin: 8px auto;
  width: 100%;
}

.new-food-button, .submit-food-button {
  position: fixed;
  bottom: 56px;
  width: 100%;
  left: 0;
  right: 0;
}

/* .help-text{
  display: none;
}

input#need-help:checked ~ .help-text {
  display: block;
} */
