.screen-header {
  background-color: var(--neutral-color);
  text-align: center;
  border-bottom: 1px solid var(--border-color);
  margin: 0;
  padding: 8px;
}

.dashboard {
  background-color: var(--neutral-color);
}

.entry-list {
  margin: 0;
  padding: 0;
}

.entry-list:hover {
  background-color: var(--bg-color)
}

.entry-list-item {
  display: flex;
  justify-content: space-between;
  list-style: none;
  border-bottom: 1px solid var(--border-color);
  padding: 8px;
  margin: 0px;
}
