.points-header {
  background-color: var(--bg-color);
  text-align: center;
}

.points-header-heading {
  margin-top: 8px;
  margin-bottom: 0px;
}

.points-progress {
  display: flex;
  justify-content: space-evenly
}

.day-points, .goal-points {
  min-width: 120px;
}

.points-count {
  font-size: 2em;
}

.points-type {
  margin: 0;
  margin-bottom: 4px;
}
/* <div className="points-progress">
<div className="day-points">
  <div className="points-count">10</div>
  <p className="points-type">Current</p>
</div>
<div className="goal-points">
  <div className="points-count">18</div>
  <p className="points-type">Goal</p> */